.navlink {
  display: flex;
  width: 222px;
  padding: 8px 16px;
  align-items: center;
  gap: 12px;
  /* border-left: 2px solid var(--colour-activeblue-activeBlue400, #0275D8);
    background: var(--colour-activeblue-activeBlue100, #EBF8FE); */
}

.navText {
  flex: 1 0 0;
  color: var(#5f738c);
  /* font-family: Averta; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.icon {
  flex-shrink: 0;
  color: var(#5f738c);
}
